body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background:#f9f8ff ;
}

#root {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
   background: linear-gradient(0deg, rgb(249, 248, 255) 94%, rgb(229, 228, 240));
}

.navbar {
    display: flex;
    background-color: #f9f9f9;
    width: 100%;
    justify-content:center;
    .navbar-item {
        color: #090808;
        display: flex;
        
        align-items: center;
        flex-basis: 10%; 
        padding: 32px;
        cursor: pointer;
        &:hover {
            background-color: #fde5e6;
            color: red;
            box-shadow: 0px 10px 0px 0px rgba(249, 0, 11, 1);
        }
    }
}

.auth-form {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #be98981e;
    border-radius: 16px;
    padding: 64px;
    flex-direction: column;
    gap: 8px;
    width: 30%;

    .auth-input {
        padding: 16px;
        width: 50%;
        border-radius: 16px;
    }

    .auth-submit {
        border-radius: 16px;
        outline-color: #c24242;
        padding: 16px;
        background-color: #6666ff;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 1.5em;
        width: 50%;

        transition: background-color 0.3s ease-in;
        &:hover {
            background-color: #8888ff;
        }
    }
}

.error {
    color: #ff0000;
}

.success {
    color: #4444ff;
}

.post-container {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    gap: 32px;
    margin-top: 60px;
    
    .post-block {
        box-shadow: 5px 5px 5px -9px rgba(34, 60, 80, 0.6);
        gap: 32px;
        display: flex;
        flex-direction: column;
        padding: 64px;
        background-color: #fefefe;

        .author{
            font-size: 1.3em;
            margin-bottom: 32px;
        }
        .content {
            margin-bottom: 64px;
        }
        .images{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
            .image {
                max-height: 25vh;
                max-width: 100%;
            }
        }
    }
}


.profile-container {
    margin-top: 60px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 32px;


    .profile-information{
        box-shadow: -8px 3px 32px 7px rgba(34, 60, 80, 0.2);
        background-color: #fefefe;
        height: 90vh;
        width: 345px;
        .profile-avatar{
            text-align: center;
            font-size: small;

            
            .choice-user-avatar_button {
                width: 70px;
                height: 40px;
                line-height: 42px;
                padding: 0;
                border: none;
                
              }
              
              .choice-user-avatar_button.active {
                color: #f0094a;
                background: transparent;
                box-shadow:none;
              }
              
              .choice-user-avatar_button:before{
                content: 'фото профиля обновлено';
                position: absolute;
                top: 2px;
                right: 0;
                height: 2.5px;
                width: 0;
                background: #f0094a;
                box-shadow:
                  -1px -1px 5px 0px #fff,
                  7px 7px 20px 0px #0003,
                  4px 4px 5px 0px #0002;
                transition: 900ms ease all;
              }
              
              .choice-user-avatar_button:after {
                right: inherit;
                top: inherit;
                left: 0;
                bottom: 0;
              }
              
              .choice-user-avatar_button.active:before,
              .choice-user-avatar_button.active:after {
                width: 100%;
                transition: 1100ms ease-out;
              }


              

            .change-avatar{
                cursor: pointer;
                margin-bottom: 40px;
            }
            .choice-user-avatar{
                margin-bottom: 40px;
            }
            .user-avatar{
                max-width: 345px;
            }
        }
        .profile-title {
            display: flex;
            flex-direction: column;
           justify-content: center; 
           

           .login-container{
                margin-left: 60px;
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                
                .username-img{
                    width: 32px;
                    height: 32px;
                    padding-top: 8px;
                    margin-right: 15px;
                }
                .username h3{
                
                    margin: 2px;
                }
           }
           .username-container{
                margin-left: 60px;
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                .username-img{
                    width: 32px;
                    height: 32px;
                    padding-top: 8px;
                    margin-right: 15px;
                }
                .username h3{
                    margin: 2px;
                }
           }
           .user-number-container{
                margin-left: 60px;
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                .number-img{
                    width: 32px;
                    height: 32px;
                    padding-top: 8px;
                    margin-right: 15px;
                }
                .user-value h4{
                    margin: 2px;
                }
           }
           .user-email-container{
                margin-left: 60px;
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                .email-img{
                    width: 32px;
                    height: 32px;
                    padding-top: 8px;
                    margin-right: 15px;
                }
                .user-value h4{
                    margin: 2px;
                }
           }
        }
    }
    .profile-posts{
        
        display: flex;
        flex-direction: column-reverse;
        width: 65%;
        gap: 22px;

        .post-block {
        box-shadow: 5px 5px 5px -9px rgba(34, 60, 80, 0.6);
        gap: 32px;
        display: flex;
        flex-direction: column;
        padding: 64px;
        background-color: #fefefe;
        
            .author{
                display: flex;
                flex-direction: row;
                
                justify-content:flex-end
            }
            .post-title{
                
                margin: 0;
            }
            
            .images{
                display: flex;
                width: 100%;
                flex-wrap: nowrap;
                
                gap: 8px;
                .image {
                    display: flex;
                    max-height: 25vh;
                    max-width: 35%;
                }
            }
        }
    }
}

.hidden {
   display: none;
}